<div class="max-w-xl mx-auto mt-12 px-4 text-center">
  <p>回答数: <%= session[:quiz_count] %></p>
  <% if @is_correct %>
    <h2 class="text-3xl font-bold text-green-600 mb-4">正解！🎉</h2>
  <% else %>
    <h2 class="text-3xl font-bold text-red-600 mb-4">不正解 😢</h2>
    <p class="text-gray-700 mb-2">正解は「<strong><%= @correct_yaku.name %></strong>」でした。</p>
  <% end %>
  
  <p class="text-gray-700 text-lg mb-8 border p-4 rounded shadow">
    <%= @correct_yaku.description %>
  </p>
  <p class="text-gray-600 mt-6">あなたの選択: <%= @selected_yaku.name %></p>
  <%= link_to "次の問題へ", quiz_yaku_index_path(mode: params[:mode]), data: { turbo: false }, class: "mt-10 inline-block px-6 py-3 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600" %>
  <p class="text-gray-600 mt-6">
    <%= link_to '最初からやり直す', yaku_index_path, class: "mt-0 inline-block px-6 py-3 bg-red-500 text-white font-semibold rounded hover:bg-red-600" %>
  </p>
</div>
