<div class="flex flex-col items-center w-full space-y-4 pb-12">
  <div class="text-center mt-4 mb-2">
    <h1 class="text-3xl font-bold">
      <%= link_to "麻雀役マスター", yaku_index_path %>
    </h1>
    <p class="text-gray-500 mt-2">麻雀の役を簡単に覚えるためのアプリ</p>
  </div>

  <div class="flex justify-center items-center gap-6 flex-wrap mb-6">
    <div class="flex items-center space-x-2">
      <%= render 'search_form', q: @q %>
    </div>
    <div class="flex items-center space-x-2 flex-1 justify-center">
      <%= link_to "すべて", yaku_index_path(category: "all"), method: :get, 
            class: "px-2 py-2 min-w-[80px] whitespace-nowrap rounded-md text-sm font-medium border border-gray-300 bg-white text-gray-700 hover:bg-gray-100 transition text-center" %>
      <%= link_to "普通役", yaku_index_path(category: "normal"), method: :get, 
            class: "px-2 py-2 min-w-[80px] whitespace-nowrap rounded-md text-sm font-medium border border-gray-300 bg-white text-gray-700 hover:bg-gray-100 transition text-center" %>
      <%= link_to "役満", yaku_index_path(category: "yakuman"), method: :get, 
            class: "px-2 py-2 min-w-[80px] whitespace-nowrap rounded-md text-sm font-medium border border-gray-300 bg-white text-gray-700 hover:bg-gray-100 transition text-center" %>
    </div>
    <div class="flex justify-end flex-1">
      <%= link_to 'クイズ挑戦！', quiz_top_yaku_index_path, 
            class: "inline_block px-6 py-3 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 whitespace-nowrap" %>
    </div>
  </div>
  <turbo-frame id="yakus">
    <%= render partial: "yakus", locals: { yakus: @yakus } %>
  </turbo-frame>
</div>


